CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeUserPresets.json
CMakeSettings.json
graph_info.json
conan.lock
conan*.txt
_deps
build
cmake-*
.vs
.vscode
.idea
.cache
